* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.content {
    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
}

.topic-slug-selection-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 27%;
    height: 100%;
}

.topic-slug-selection {
    overflow-x: hidden;
    position: absolute;
    top: 3em;
    bottom: 9em;
    width: 100%;
}

.output-results-holder {
    position: absolute;
    top: 0;
    left: 27%;
    width: 43%;
    height: 100%;
}

.output-results-headers {
    height: 6em;
}

.output-results {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 6em;
    left: 0;
    bottom: 0;
    right: 0;
}

.output-filters {
    position: absolute;
    top: 0;
    left: 70%;
    width: 30%;
    height: 100%;
    background: #FFF;
}

.filter-controls-wrapper {
    position: absolute;
    top: 6em;
    left: 0;
    width: 100%;
    bottom: 0;
    padding-left: 2em;
    padding-bottom: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.filter-controls-form {
    padding: 1em;
}

.filters-header.filters-header {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6em;
    padding-top: 1.5em;
}

.panel-header {
    display: block;
    width: 100%;
    font-size: 1.5em;
    height: 2em;
    line-height: 2em;
    padding: 0 1em;
}

.topic-slug-option {
    width: 100%;
    font-size: 1.5em;
    height: 2em;
    line-height: 2em;
    color: #FFF;
    transition: height 0.3s ease, line-height 0.3s ease;
}

.topic-slug-option ~ .topic-slug-option {
    border-top: 0.1em solid rgba(0, 0, 0, 0.12);
}

.topic-slug-option + .topic-slug-option {
    border-bottom: 0.1em solid rgba(0, 0, 0, 0.12);
}

.topic-slug-option > p {
    margin: 0 2em;
}

.topic-slug-option.selected {
    height: 3em;
    line-height: 3em;
}

.clarif-holder {
    padding: 1em 2em;
    color: rgba(0, 0, 0, 0.87);
    margin: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.clarif-content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.loader {
    text-align: center;
    font-size: 1.5em;
}

.filter-tree-node {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 1.5em;
}

.filter-tree-node > .filter-tree-node-name {
    color: rgba(0, 0, 0, 0.87)
}

.filter-tree-node.filter-node-selected > .filter-tree-node-name {
    font-weight: bold;
    color: #4CAF50;
}

.requests-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background-color: #EF5350;
    color: #FFF;
    line-height: 2em;
    overflow: hidden;
}

.requests-info-title {
    display: inline-block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    width: 33.333%;
    background-color: #EF5350;
}

.request-info-rows {
    position: absolute;
    top: 0;
    left: 33.333%;
    width: 66.667%;
    height: 100%;
}

.requests-info-row {
    position: relative;
    width: 100%;
    height: 2em;
    line-height: 2em;
}

.requests-info-row:nth-child(odd) {
    background-color: #E53935;
}

.requests-info-item {
    position: absolute;
    display: inline-block;
    top: 0;
    width: 50%;
    height: 100%;
    text-align: center;
}

.requests-info-name {
    left: 0;
}

.requests-info-data {
    left: 50%;
}

.requests-info-table-title, .requests-info-table-row-title, .requests-info-table-row-data {
    width: 33.333%;
}

.language-selection-wrapper {
    position: absolute;
    display: inline-block;
    bottom: 2em;
    left: 0;
    width: 100%;
    height: 7em;
    background-color: #4CAF50;
    overflow-x: hidden;
}

.language-selection-info {
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    line-height: 2em;
    color: #FFF;
    padding-left: 0.5em;
    border-bottom: 0.15em solid rgba(0, 0, 0, 0.12);
}

.language-selection-option {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    color: #FFF;
}

.language-selection-option:nth-child(odd) {
    background-color: #43A047;
}

.language-selection-option:nth-child(even) {
    background-color: #2E7D32;
}

.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clarif-tag-row {
    height: 1.5em;
    line-height: 1.5em;
    padding: 0.2em;
}

.clarif-tag-badge {
    display: inline-block;
    min-width: 3.4em;
    padding: 0.1em;
    background-color: #888;
    text-align: center;
    border-radius: 1em;
    color: #FFF;
}

.clarif-tag-video {
    background-color: #F44336;
}

.clarif-tag-article {
    background-color: #2196F3;
}

.clarif-tag-unknown {
    background-color: #9E9E9E;
}
