<div class="cvka-viewer">
    <div class="row cvka-row cvka-viewer-display">
        <div class="col s4 cvka-topic-tree-container">
            <div class="cvka-topic-tree js-topic-tree">
            </div>
        </div>
        <div class="col s4 cvka-clarif-view-container">
            <div class="cvka-clarif-view js-clarif-view">
            </div>
        </div>
        <div class="col s4 cvka-filter-sort-column">
            <div class="card-panel cvka-filter-sort-container">
                <div class="row cvka-page-controls">
                    <div class="col s4 cvka-language-select-label cvka-language-select-label-left">
                        <p class="right-align">Show clarifications for the </p>
                    </div>
                    <div class="language-select-wrapper js-language-select-wrapper col s4">
                        
                    </div>
                    <div class="col s4 cvka-language-select-label cvka-language-select-label-right">
                        <p> version of Khan Academy.</p>
                    </div>
                </div>
                <div class="row cvka-filter-sort js-filter-sort">
                </div>
            </div>
        </div>
    </div>
</div>
