<div class="cvka-footer">
    <div class="cvka-status">
        <p class="cvka-no-margin cvka-status-title">Requests</p>
        <div class="cvka-status-rows">
            <div class="cvka-status-row">
                <p class="cvka-no-margin cvka-status-item">Pending</p>
                <p class="cvka-no-margin cvka-status-item js-pending-requests">0</p>
            </div>
            <div class="cvka-status-row">
                <p class="cvka-no-margin cvka-status-item">Failed</p>
                <p class="cvka-no-margin cvka-status-item js-failed-requests">0</p>
            </div>
        </div>
    </div>
    <div class="cvka-status">
        <p class="cvka-no-margin cvka-status-title">Status</p>
        <div class="cvka-status-rows">
            <p class="cvka-no-margin cvka-status-message js-status-message">Ready.</p>
        </div>
    </div>
</div>
