<div id="tag-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="cvka-hold-place js-current-tags col s4">
            </div>
            <div class="cvka-hold-place js-all-tags col s4">
            </div>
            <div class="cvka-hold-place js-new-tag col s4">
                <div class="row js-create-tag">
                    <button class="js-create-tag-btn col s12 black-text btn white waves-effect center">Create New Tag</button>
                </div>
                <div class="row js-tag-options">
                    <div class="row">
                        <div class="js-tag-color col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="tag-name" class="js-tag-name" type="text">
                            <label for="tag-name">Tag name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 js-tag-preview">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="js-add-tag-btn col s12 black-text btn white waves-effect center">Create</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="js-cancel-create-btn col s12 black-text btn white waves-effect center">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript: void(0);" class="js-tags-save-btn modal-action waves-effect btn-flat">Save Changes</a>
        <a href="javascript: void(0);" class="js-tags-cancel-btn modal-action waves-effect btn-flat">Discard Changes</a>
    </div>
</div>
