<nav class="white">
    <div class="nav-wrapper">
        <ul class="left">
            <li class="cvka-nav-status js-clarifs-status black-text">Clarifications for <span class="js-filter-topic">topic</span> (Showing <span class="js-clarifs-shown">0</span> of <span class="js-clarifs-total">0</span>)</li>
        </ul>
        <ul class="right">
            <li><a class="cvka-nav-el js-auth-btn black-text" href="javascript: void(0);">Log In/Out</a></li>
        </ul>
    </div>
</nav>
