<div class="row">
    <div class="col s4 offset-s4">
        <h3>Users</h3>
    </div>
</div>
<div class="row">
    <div class="col s4 offset-s4">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Permissions</th>
                </tr>
            </thead>
            <tbody class="js-users">
            </tbody>
        </table>
    </div>
</div>
