<!DOCTYPE html>
<html>
    <head>
        {{> head}}
        <link rel="stylesheet" type="text/css" href="./dist/styles/index.css">
        {{> rollbar}}
    </head>
    <body>
        {{> navbar}}
        {{> content}}
        {{> footer}}
        {{> modals}}
        {{> scripts}}
        <script src="dist/scripts/index.js" type="text/javascript"></script>
    </body>
</html>
