a:hover {
    text-decoration: underline;
}

.cvka-row {
    margin: 0;
}

.cvka-viewer {
    position: absolute;
    top: 56px;
    left: 0;
    bottom: 56px;
    right: 0;
    z-index: 0;
}

.cvka-nav, .cvka-footer {
    z-index: 1000;
    height: 56px;
    line-height: 56px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.cvka-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.cvka-nav-item {
    text-align: center;
    font-size: 1.2em;
}

@media only screen and (min-width: 601px) {
    .cvka-viewer {
        top: 64px;
        bottom: 64px;
    }
    
    .cvka-nav, .cvka-footer {
        height: 64px;
        line-height: 64px;
    }
}

.cvka-viewer-display {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cvka-topic-tree-container, .cvka-clarif-view-container {
    max-height: 100%;
    margin-bottom: 0;
}

.cvka-topic-tree-container, .cvka-clarif-view-container, .cvka-filter-sort-column {
    min-height: 1px;
}

.cvka-clarif-view-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.cvka-filter-sort-column {
    position: relative;
    height: 100%;
}

.cvka-filter-sort-container {
    position: absolute;
    top: 0;
    left: 0.75rem;
    bottom: 0;
    right: 0.75rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.cvka-topic-tree-container.cvka-topic-tree-container.cvka-topic-tree-container {
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.cvka-top-level-slug {
    min-height: 2.667em;
    line-height: 2.667em;
    font-size: 1.5em;
    padding-left: 2.5em;
}

.cvka-top-level-slug > .cvka-subtopic-slug {
    font-size: 0.66666em;
}

.cvka-slug > .cvka-slug-title {
    margin: 0;
}

.cvka-subtopic-slug {
    line-height: 1.5em;
    min-height: 1.5em;
    padding-left: 2em;
    border-left: 1px solid rgba(0, 0, 0, 0.38);
}

.cvka-slug {
    cursor: pointer;
}

.cvka-slug.active > .cvka-slug-title {
    font-weight: bold;
    font-size: 1.1em;
}

.cvka-language-select-label {
    line-height: 3em;
    height: 3em;
}

.cvka-language-select-label.cvka-language-select-label-left {
    padding-right: 0;
}

.cvka-language-select-label.cvka-language-select-label-right {
    padding-left: 0;
}

.cvka-language-select-label > p {
    margin: 0;
}

.dropdown-content.select-dropdown > li > span {
    color: black;
}

.cvka-no-margin {
    margin: 0;
}

.cvka-clarif-tag {
    padding: 0.3em 0.5em;
    border-radius: 1em;
    text-align: center;
    margin: 0 0.2em;
}

.cvka-clarif-tags-container {
    display: inline-block;
}

.cvka-clarif-add-tag {
    border: 1px solid rgba(0, 0, 0, 0.54);
    color: rgba(0, 0, 0, 0.54);
}

.cvka-nav-el:hover {
    text-decoration: none;
}

.cvka-status {
    width: 33.333%;
    display: inline-block;
    position: relative;
}

.cvka-status-title {
    display: inline-block;
    width: 33.333%;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.cvka-status-rows {
    display: inline-block;
    width: 66.667%;
    height: 100%;
    top: 0%;
    position: absolute;
    left: 33.333%;
}

.cvka-status-row:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.cvka-status-row {
    position: relative;
    height: 50%;
    width: 100%;
}

.cvka-status-item {
    line-height: 32px;
    height: 100%;
    width: 50%;
    position: absolute;
    text-align: right;
    padding: 0 1em;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.cvka-status-item:last-child {
    left: 50%;
}

.cvka-status-message {
    padding: 0 1em;
    height: 100%;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cvka-color-swatch {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    margin: 0 0.2em;
}

.cvka-hold-place {
    min-height: 1px;
    min-width: 1px;
}

.btn-flat:hover {
    text-decoration: none;
}

.cvka-nav-status {
    padding-left: 1em;
    font-size: 1.25em;
}

.cvka-counter {
    margin-left: 0.5em;
}
